@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/* Removes Input Box Arrows & Spinners from Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes Input Box Arrows and Spinners from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url('./backgrounds/background-denver.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.glassContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

@media screen and (max-width: 320px) {
    .glassContainer {
        width: 80vw;
        height: 90vh;
    }
}
@media screen and (min-width: 360px) {
    .glassContainer{
        width: 80vw;
        height: 90vh;
    }
}
@media screen and (min-width: 411px) {
    .glassContainer{
        width: 80vw;
        height: 90vh;
    }
}
@media screen and (min-width: 768px) {
    .glassContainer{
        width: 70vw;
        height: 80vh;
    }
}
@media screen and (min-width: 1024px) {
    .glassContainer{
        width: 55vw;
        height: 80vh;
    }
}
@media screen and (min-width: 1280px) {
    .glassContainer{
        width: 40vw;
        height: 80vh;
    }
}

.calcHeader {
    margin: 3rem 0 2rem 0;
    text-align: center;
}

.wrapperInput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;
    align-items: center;
    Height: 70%;
    width: 100%;
}

.half-field-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.innerInput {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 80%;
  height: 3rem;
  padding: 1rem;
  text-align: center;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

.innerInput-half {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 2rem;
    width: 48%;
    height: 3rem;
    padding: 1rem;
    text-align: center;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
  }

.innerInput:focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
}

::placeholder {
    color: whitesmoke;
    font-weight: 100;
    font-size: 1rem;
}

.buttonContainer{
    margin: 1rem 0 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonStyle {
    background: linear-gradient(to right, #3e1192 0%, #fa5393 98%);
    text-transform: uppercase !important;
    letter-spacing: 0.2rem !important;
    width: 65%;
    height: 3rem;
    border: none !important;
    color: white !important;
    border-radius: 2rem !important;
    cursor: pointer !important;
    font-weight: bold !important;
}

.final-result {
    margin: 1rem 0 4rem 0; 
}

